body{
    background: url("https://images.wallpaperscraft.com/image/single/shakespeare_time_title_motivation_85147_1920x1080.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    font-size: 4rem;
    color: rgb(167, 205, 154);
    text-align: center;
}

#alt-baslik{
    font-size: 2rem;
    color: darkgray;
}

.text{
    color: darkgray;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem;
}

.time{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: white;
    margin: 1rem;
}

.buton{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border-radius: 10px 20px;
    font-size: 1.25rem;
    border: none;
    padding: 10px;
}

.buton:hover{
    background-color: darksalmon;
    border: 2px solid rgba(0, 0, 0, 0.37);
    border-radius: 20px 10px;
}

.buttons{
    
}

.kronometre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.zamanlayici{
    display: none;
}

.kalan-sure{
    display: none;
}

.kronometre:active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.zamanlayici:active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.kalan-sure:active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
